{%  extends "base.html.twig" %}

{% block body %}

<div class="govuk-width-container">
    <a href="/money_out" class="govuk-back-link">Back</a>
    <main class="govuk-main-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl ">{{ title }} </h1>
                <p class="govuk-heading-s">We've listed your saved answers below.</p>
                <p class="govuk-body">Please find submitted payments for this year's report.</p>
            </div>
        </div>


            <h2 class="govuk-heading-l govuk-!-static-margin-top-3">Submitted payments</h2>
            <table class="govuk-table">
                {% for clientInformation in clientInformation %}
                <caption class="govuk-table__caption govuk-table__caption--s">Client's name: {{ clientInformation.clientsFirstNames }} {{ clientInformation.clientsLastName }}</caption>
                <caption class="govuk-table__caption govuk-table__caption--s">Client's case number: {{ clientInformation.clientsCaseNumber }}</caption>
                {% endfor %}
                <caption class="govuk-table__caption govuk-table__caption--s govuk-!-static-margin-bottom-5">Report year: {{ "now"|date("Y") }}</caption>

                <thead class="govuk-table__head ">
                <tr class="govuk-table__row ">
                    <th scope="col" class="govuk-table__header">Type</th>
                    <th scope="col" class="govuk-table__header govuk-!-text-align-centre">Description</th>
                    <th scope="col" class="govuk-table__header govuk-!-text-align-centre">Type of bank account</th>
                    <th scope="col" class="govuk-table__header govuk-!-text-align-centre">Amount</th>
                </tr>
                </thead>
                <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    {% for moneyOutPayments in moneyOutPayments %}
                        <td scope="row" class="govuk-table__header" id="paymentTypeHeaders">{{ moneyOutPayments.payment_type }}</td>
                        <td class="govuk-table__cell govuk-!-text-align-centre">{{ moneyOutPayments.description }}</td>
                        <td class="govuk-table__cell govuk-!-text-align-centre">{{ moneyOutPayments.bank_account_type }}</td>
                        <td class="govuk-table__cell govuk-!-text-align-centre" id="paymentAmounts">{{(moneyOutPayments.amount/100)| format_currency('GBP', {fraction_digit:2}) }}</td>
                </tr>
                    {% endfor %}
                </tbody>
            </table>

            <a href="/graphSummary" class="govuk-button" data-module="govuk-button" id="spendingSummaryButton">
                Click to view spending summary
            </a>


    </main>
</div>


{% endblock %}
