{%  extends "base.html.twig" %}

    {% block body %}

        <div class="govuk-width-container">

            {% for message in app.flashes('success') %}
                <div class="flash-notice govuk-!-font-weight-bold govuk-!-text-align-centre" id="flashMessage">
                    {{ message }}
                </div>
            {% endfor %}

            <main class="govuk-main-wrapper">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">
                        <h1 class="govuk-heading-xl ">{{ title }} </h1>
                        <p class="govuk-body">In this section, we ask you about money paid out of [clients first name] accounts between [insert report start date] and [report end date]</p>
                        <p class ="govuk-body govuk-body govuk-!-font-weight-bold">Enter a total amount or individual amounts for each type of payment.</p>
                        <p class ="govuk-body">For example, you can add one payment that covers the cost of rent for the whole reporting period, or you can add 12 payments - one for each month's rent</p>


                    <h3 class="govuk-heading-s">1. Download Money Out Spreadsheet Template</h3>
                    <p class="govuk-body">In order to submit your annual report, please action the following:</p>
                        <ul class="govuk-list govuk-list--bullet">
                            <li>Download the money out spreadsheet template by clicking the 'Download template' button below.</li>
                            <li>Add payments to the template and select the relevant payment type from the drop-down menu provided.</li>
                            <li>Follow the steps in the upload section below once you have added your payments to the downloaded file.</li>
                        </ul>

                        <a class="govuk-button" href="{{ path('generate_money_out_spreadsheet') }}"  role="button" draggable="false" id="downloadMoneyOut">
                            Download template
                        </a>

                    </div>

                </div>

                <div>

                <h3 class="govuk-heading-s">2. Upload Completed Money Out Spreadsheet</h3>
                    <p class="govuk-body">Please upload your completed file by following the steps below:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>Click on the 'Choose file' button below to upload your completed your money out spreadsheet.</li>
                        <li>Click on the 'submit' button.</li>
                        <li>Click on the 'Save and continue' button to view a summary of your payments.</li>
                    </ul>
                        <p class="govuk-body">Please note, that the uploaded file must be the same file type as when it was downloaded, which is an excel file (file extension: xlsx)</p>

                    <div class="govuk-label govuk-form-group govuk-!-static-padding-top-1">

                        {{ form_start(uploadForm , {'attr': {'enctype' : 'multipart/form-data'} }) }}
                            {{ form_row(uploadForm.file, {'id': 'spreadsheet_upload_form'}) }}
                        <div class="govuk-form-group govuk-!-static-padding-top-2">
                            {{ form_row(uploadForm.submit,{'id': 'upload'}, '', {
                                'label': 'Upload Money Out Spreadsheet'
                            }) }}
                        </div>
                        {{ form_end(uploadForm) }}

                    </div>
                </div>

                <a href="/money_out_summary" class="govuk-button" data-module="govuk-button">
                    Save and continue
                </a>

            </main>
        </div>

        <script>
        </script>


    {% endblock %}
